/*
Theme Name:         ThoriumWP
Theme URI:          N/A
Github Theme URI:   N/A
Description:        Proprietary theme for Thorium Wealth Management
Version:            4.0
Author:             Walt Spence of @EnLabHQ | http://enlab.co
Author URI:         http://walt.im
*/

/* Tint */
.dark_gray  {color: #787878;}
.light_gray {color: #cccccc;}
.blue       {color: #428bca;}
.gold       {color: #ffb300;}
.silver     {color: #c0c0c0;}

/* Neccesity for WP Posts */
.alignleft,
img.alignleft {
    display: inline;
    float: left;
  margin-right: 1.5em;
}
.alignright,
img.alignright {
    display: inline;
    float: right;
  margin-left: 1.5em;
}
.aligncenter,
img.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p {
     clear: both;
}